<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-youtube/google-youtube.html">

<dom-module id="electric-biro-canvas">
    <template>
        <style>
        
        </style>

        <canvas width="100%" height="100%" background="red"></canvas>
    </template>

    <script>
        Polymer({
            is: "electric-biro-canvas"
        });
    </script>
</dom-module>

